#.gitignore
# Tracks files and directories to ignore from Github commits.

.idea/

# dotenv (Contains API keys/URLs)
.env

# Config file containing API keys!
# Not true at this time
#gph_utils/gph_config.py

# virtualenv
.venv
venv/
ENV/

# Various files / backups
server/
utils/
demo/
group.txt
group.csv
raw-group.txt
stars.txt
*.csv
*log*.txt

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
test/
*test*.sh
*test*.py
!*contest*.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
/ironmen_dictionary.txt
