pandas==1.3.5 # Use ~=1.4.3 and numpy==1.23.2 if
              # running on Raspberry Pi
requests~=2.27.1
#osrs-highscores==0.7.1 # 0.6.1 was used for development of gold-partyhat through v0.2.2
osrs-highscores @ git+https://github.com/cdfisher/osrs_highscores@f8f744f29902af39eed1240a4baca0724441e5e0
matplotlib~=3.5.3